@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  font-family: Open Sans;
  font-weight: 300;
}
#app {
  padding:122px;
}
h1 {
  font-size: 62px;
  line-height: 1.1;
}
.overlay {

  display: none;
}
.editHotspot {
  z-index: 2;
  position: absolute;
  right:-200px;
}

.controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;right:0;
  z-index:995;
}

.editHotspot .overlay {
  padding: 12px;
  background: #f06c0b;
}

.controls-container {
  position: relative;
  top: -35px;
  display:none;
}

.steps {
  position:relative;
}
.step {
  position: absolute;
  top: 0;
  left: 0;
}

.slidearea {
  height: 600px;
}

.slidearea {
  z-index: 500;
  position:absolute;
  cursor: ew-resize;
  width: 100%;
}

.hotspots, .hotspot-container {
  height: 100%;
  z-index: 990;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}
.hotspot {
  position: absolute!important;
}
.hotspot-container img {
  width: 100%;
}
.hotspot::before {
  content: "+";
  line-height: 1;
  background: #f06c0b;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
  padding: 0px 3px 0;
  display: inline-block;
}
.hotspot figcaption {
  font-size:10px;
}

.popup {
  position: absolute!important;
  padding: 25px;
  background: white;
  left:0;right:0;top:0;bottom:0;
  border: 1px solid #ddd;
  display: none;
}
.hotspots .active > .popup {
  display: block;
}
.gallery-container {
  display:inline-block;
  position:relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
