.controls {
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;right:0;
  z-index:995;
}

.controls-container {
  display:none;
}
.overlay-container {display:none;}
.overlay {
  position: absolute;
  z-index: 1200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 24px;
}
.overlay img {width:100%;}
.overlay p, .overlay h1, .overlay h2 {margin-left:24px;margin-right:25px;}
.hotspot {
  z-index:1000;
  position: absolute!important;
}
.hotspot::before {
  content: "+";
  line-height: 1;
  background: #f06c0b;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 3px 0;
  display: inline-block;
}

.popup {
  position: absolute!important;
  padding: 25px;
  background: white;
  left:0;right:0;top:0;bottom:0;
  border: 1px solid #ddd;
  display: none;
}
.active.popup {
  display: block;
}

.gallery-container {
  display:inline-block;
  position:relative;
  overflow:hidden;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
